.container-mainContent {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  color: white;
  text-transform: uppercase;
  font-size: xx-large;
  padding: 2rem;
}

.text-center {
  line-height: 5rem;
  font-family: cursive;
}

.user-login {
  font-size: xx-large;
  margin: 1rem;
  font-weight: 800;
}

.user-login:hover {
  animation: move-up 0.1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

.user-login:active {
  animation: move-down 0.1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .container-mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .button-container {
    width: 50vw;
    margin: 0 auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container-mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .button-container {
    width: 50vw;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr;
  }
  .call-to-action {
    font-size: large;
  }
}
