.person {
  margin: 1rem auto;
  width: 40vw;
  background: #ccc;
  display: grid;
  grid-template-columns: 1fr 3fr;
  animation: contact 1s ease-in;
}

@keyframes contact {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.delete {
  grid-column: 1 / span 2;
  background-color: rgb(236, 88, 88);
}

.delete:hover {
  background-color: rgb(255, 0, 0);
}
